.svg-top {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  padding: 1rem;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  color: black;
  border-radius: 50%;
  border: 2px solid var(--color-bg-secondary);
  background-color: var(--color-shadow);
}

.svg-top:hover {
  background-color: var(--color-bg-secondary);
}

.hide {
  display: none;
}
