.box,
.box1 {
  height: 100%;
  width: 100%;
  display: flex;
  top: 300px;
  bottom: 50px;
  left: 30px;
  right: 20px;
  justify-content: center;
  align-items: center;
}

.randomWrap {
  background-color: #ccc;
  position: relative;
  height: 300px;
  margin: 24px 0;
}

#randomMove2 {
  position: absolute;
  transition: 0.1s;
  transform: translate(-50%, -50%);

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: blue;
}

.feed {
  width: auto;
}

#rss-feeds {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  justify-content: left;
}

.feed {
  max-width: 280px;
  padding: 1.2rem;
}

.feed-thumbnail {
  max-width: 280px;
  box-shadow: 0 0 4px 4px var(--color-bg-secondary);
}

.container {
  margin-bottom: 40px;
  min-height: auto !important;
  padding-inline-start: 0px !important;
}

@media (max-width: 600px) {
  #rss-feeds {
    justify-content: center;
  }
  .feed-thumbnail {
    max-width: none;
    width: 100%;
  }
  .feed {
    max-width: none;
    width: 80%;
  }
}
