.feeds {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 !important;
  justify-content: left;
}

.feed {
  max-width: 280px;
  padding: 1.2rem;
}

.feed-header {
  display: flex;
  padding: 1rem;
  background: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-secondary);
}

h2 {
  margin: 0;
}

.feed-thumbnail {
  height: auto;
  width: 280px;
  max-width: 280px;
  box-shadow: 0 0 4px 4px var(--color-bg-secondary);
}

.container {
  margin-bottom: 40px;
  min-height: auto !important;
  padding-inline-start: 0px !important;
}

@media (max-width: 600px) {
  .feeds {
    justify-content: center;
  }
  .feed-thumbnail {
    max-width: none;
    width: 100%;
  }
  .feed {
    max-width: none;
    width: 80%;
  }
}
